.btn {
    cursor: pointer;
    margin: 20px;
}

.icon-bar {
    width: 22px;
    height: 2px;
    background: white;
    margin: 2px;
    position: relative;
}

.container {
    display: grid;
    grid-template-areas: "header header header" "nav content side" "footer footer footer";
    grid-template-columns: minmax(0px, auto) 1fr 200px;
    grid-template-rows: auto 1fr auto;
    grid-gap: 8px;
    height: calc(100vh - 16px);
}

header {
    grid-area: header;
    background-color: blue;
}

.showSideBar {
    grid-area: nav;
}

main {
    grid-area: content;
    background-color: pink;
    overflow-y: scroll;
}

aside {
    grid-area: side;
    margin-right: 0.5rem;
    background-color: lightblue;
}

footer {
    grid-area: footer;
    background-color: gold;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas: "header" "nav" "content" "side" "footer";
        grid-template-columns: 1fr;
        grid-gap: 0px;
        grid-row-gap: 8px;
        grid-template-rows: auto minmax(0px, auto) 1fr minmax(75px, auto) auto;
    }
}
